In [ ]:
cnx = mysql.connector.connect(user='admin', password='actuadores',
                              host='157.230.209.3',
                              database='monitoreodb')

query = "SELECT * from operation WHERE vehicle_id = 'FVQ731'"
FVQ731 = pd.read_sql_query(query, cnx, index_col='id')
FVQ731.dropna(axis=1, how='all', inplace=True)
FVQ731

cnx = mysql.connector.connect(user='admin', password='actuadores',
                                  host='157.230.209.3',
                                  database='monitoreodb')

print('conexi√≥n ok db')
query = "SELECT * from operation WHERE vehicle_id = 'FVQ731'"
FVQ731 = pd.read_sql_query(query, cnx, index_col='id')
FVQ731.dropna(axis=1, how='all', inplace=True)